#header .contain {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header-style {
  height: $header-height;
  position: fixed;
  width: 100%;
  border-bottom: $orange-border;
  top: 0px;
}

#header section.heading {
  background: $header-color;
  @extend .header-style;
  > [class*="icon-"] {
    float: left;
    line-height: $header-height;
    vertical-align: middle;
    color: white;
    font-size: 12pt;
    margin-left: 15px;
    margin-right: 8px;
  }
  .title {
    color: white;
    font-family: "Baumans",sans-serif;
    font-size: 13pt;
    line-height: $header-height;
    float: left;
    margin: 0;
  }
  .signin {
    @include button($orange);
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 10px;
    line-height: 15px !important;
    margin: auto;
    > * { float: left; }
    [class*="icon-"] {
      font-size: 14pt;
      line-height: 15px !important;
      // color: darken(#1081DE, 10);
      margin-right: 5px;
      margin-left: 5px;
      float: left;
    }
  }
  .user-info {
    position: absolute;
    right: 20px;
    padding-left: 45px;
    line-height: $header-height;
    font-size: 14pt;
    color: white;
    font-family: 'Baumans',sans-serif;
    margin: auto;
    [class*="icon-"] {
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        color: lighten($orange, 10);
      }
    }
    .avatar {
      margin: auto 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      @include border-radius(2px);
    }
  }
  h3 {
    color: white;
    font-weight: normal;
    text-shadow: 0px -1px rgba(0,0,0,0.3);
    float: right;
    margin: {
      bottom: 0px;
      top: 0px;
    }
    padding-right: 10px;
  }
}

#header section.under-heading {
  background: $orange; // lighten($header-color, 55);
  margin-top: $header-height;
  // border-top: $light-border;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  @extend .header-style;
}

#header section.under-heading .header-link {
  border: {
    left: 1px solid transparent;
    right: 1px solid transparent;
  }
  display: block;
  float: left;
  font-weight: bold;
  line-height: $header-line-height + 3px;
  height: $header-line-height + 3px;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.5);
  > span, i {
    color: #222;
    font-size: 14pt;
  }
  padding: 0 15px;
  span { margin-right: 10px; }
  > i {
    margin-right: 20px;
    padding-left: 5px;
  }
  &:first-child {
    margin-left: 20px;
  }
  &:hover {
    cursor: pointer;
    // span { text-decoration: underline; }
    background: rgba(0, 0, 0, 0.1);
  }
  &.active {
    background: rgba(0, 0, 0, 0.5);
    border-color: $dark-border;
    > * {
      color: white;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}

#header .contain {
  margin-top: 2 * $header-height;
  @include outer-container;
  .left {
    text-align: center;
    @include span-columns(12);
    &.expanded {
      @include span-columns(18);
    }
  }
  .right {
    text-align: center;
    @include span-columns(6);
  }
  .left {
    border-right: $dark-border;
  }
}

footer {
  display: none;
  height: 50px;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.4);
  color: #555;
  border-top: 1px solid #999;
  text-align: center;
  .message {
    font-family: "Rokkitt",sans-serif;
    font-weight: bold;
    font-size: 13pt;
    color: #555;
    line-height: 50px;
  }
  .what {
    position: absolute;
    left: 10px;
    line-height: 50px;
    font-weight: bold;
  }
  .for {
    position: absolute;
    right: 10px;
    line-height: 50px;
    font-weight: bold;
  }
  button {
    @include button(#16336f);
    line-height: 22px;
    font-size: 12pt;
    margin-top: 8px;
    height: 35px;
    display: none;
  }
  &.offer-allow {
    button { display: inline-block; }
    .message {display: none;}
  }
}

.actions {
  height: 50px;
  background: white;
  border-top: 1px solid #aaa;
  .accept {
    @include button(#16336f);
    line-height: 22px;
    font-size: 12pt;
    margin-top: 8px;
    height: 35px;
    display: none;
  }
}
