ul.items {
  margin-left: 0px;
}

.add-form {
  #select {
    margin: 10px;
    @include button;
    line-height: 16px;
    i {
      font-size: 12pt;
    }
  }
  #select-text {
    font-size: 10pt;
    line-height: normal;
  }
}

li.listing {
  border: $dark-border;
  list-style-type: none;
  display: inline-block;
  width: 185px;
  margin: 9px;
  background: white;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
  @include border-radius(3px);
  .img-container {
    background: black;
    border-bottom: 1px solid #ddd;
  }
  .name {
    padding: 6px 0;
    font-family: "Rokkitt",sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    background: #eee;
  }
  .description {
    color: #333333;
    font-family: "Rokkitt",sans-serif;
    font-size: 11pt;
    padding: 10px;
    text-align: left;
    line-height: 17px;
  }
  .info {
    height: 42px;
    background: #eee;
    border-top: 1px solid #ccc;
    .user {
      line-height: 40px;
      float: left;
      margin-left: 10px;
    }
    .avatar {
      margin: 5px;
      line-height: 30px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      float: left;
      width: 32px;
      height: 32px;
    }
  }
  &:hover {
    box-shadow: 0 1px 2px 0 $header-color;
  }
  &.selected {
    box-shadow: 0 1px 2px 0 $header-color;
    .name {
      background: $header-color;
      color: white;
    }
  }
}

.left h2 { right: 50%; left: 0; }
.right h2 { right: 0px; left: 50%; }

.left h2, .right h2 {
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  z-index: 5;
  .view, .who {
    padding-left: 4px;
  }
  color: #555;
  border-bottom: 1px solid #999;
}

.listing-container,.offer-container {
  padding-top: 15px;
  overflow-y: scroll;
  height: 200px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  &:hover {
    background-color: rgba(0,0,0,.3);
  }
  &:active {
    background-color: rgba(0,0,0,.5);
  }
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

body {
  overflow: hidden;
}

.who, .view, .view + span {
  font-family: "Baumans",sans-serif;
  font-size: 16pt;
  font-variant: small-caps;
}

.listing-inner {
  text-align: center;
  .name {
    line-height: 25px;
  }
  img {
    height: 140px;
    width: 140px;
  }
  .description {
    padding-top: 5px;
  }
}

form.add-form {
  display: none;
  input, textarea {
    width: 90%;
    max-width: 90%;
    height: 50px;
    &:hover {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }
  }
  textarea {
    min-height: 80px;
    margin-left: 8px
  }
}
form.add-form {
  margin-top: 20px;
}
.add-new-area, .cancel-add-area {
  float: left;
}

.add-button {
  @include button(#16336f);
  font-size: 11pt;
  margin-left: 5px;
  padding: {
    left: 0px;
    right: 0px;
  }
  width: 90px;
}
.cancel-button {
  @include button(#ae0404);
  display: none;
  font-size: 11pt;
  margin: {
    top: 0px;
    left: 5px;
  }
  padding: {
    left: 0px;
    right: 0px;
  }
  width: 90px;
}
.search-button {
  @include button(#16336f);
  font-size: 11pt;
  margin-left: 10px;
  padding: {
    left: 0px;
    right: 0px;
  }
  width: 90px;
}
.add-listing {
  @include button($orange);
  font-size: 11pt;
  width: 90%;
  height: 40px;
}

.loader {
  display: none;
}

span.count {
  font-size: 12pt;
  font-variant: small-caps;
  color: rgba(0,0,0,0.5);
  margin-top: 5px;
}
.left span.count {
  float: left;
  padding-left: 20px;
}
.right span.count {
  float: right;
  padding-right: 20px;
}


#offers h2 {
  font-family: "Baumans",sans-serif;
  font-size: 16pt;
  font-variant: small-caps;
}

#discussion h2 {
  font-family: "Baumans",sans-serif;
  font-size: 16pt;
  font-variant: small-caps;
}

#discussion {
  overflow-y: hidden;
}

#discussion .note-entry {
  background: #eee;
  border-bottom: 1px solid #777;
  padding-top: 8px;
  margin-bottom: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  textarea {
    min-width: 90%;
    width: 90%;
    max-width: 90%;
    min-height: 80px;
    height: 80px;
    margin: 11px;
    box-shadow: none;
    font-family: "Rokkitt",sans-serif;
    border-radius: 5px;
    padding: 8px;
    &:hover, &:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }
  }
  button {
    @include button($orange);
    font-size: 11pt;
    width: 90%;
    height: 40px;
    margin-bottom: 18px;
  }
}

.actions {
  line-height: 50px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  position: relative;
  .accept {
    @include button(#090);
    font-size: 11pt;
    width: 40%;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
  }
  .reject {
    @include button(#900);
    vertical-align: middle;
    font-size: 11pt;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 40px;
  }
}

.discussion-container {
  overflow-y: scroll;
}

#discussion li {
  text-align: left;
  margin-left: 24px;
  margin-right: 12px;
  list-style-type: none;
  margin-top: 4px;
  margin-bottom: 4px;
  .text {
    padding: 6px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
    @include border-radius(3px);
    font-family: "Rokkitt",sans-serif;
    font-size: 12pt;
    border: 1px solid #eee;
  }
}

li.offer {
  border: $dark-border;
  list-style-type: none;
  display: inline-block;
  width: 185px;
  margin: 14px;
  background: white;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
  @include border-radius(3px);
  .img-container {
    background: black;
    border-bottom: 1px solid #ddd;
  }
  .name {
    padding: 6px 0;
    font-family: "Rokkitt",sans-serif;
    font-size: 12pt;
    font-weight: bold;
    // border-bottom: 1px solid #aaa;
    background: #eee;
  }
  .description {
    color: #333333;
    font-family: "Rokkitt",sans-serif;
    font-size: 11pt;
    padding: 10px;
    text-align: left;
    line-height: 17px;
  }
  .info {
    height: 35px;
    background: #eee;
    border-top: 1px solid #ccc;
    line-height: 35px;
  }
  &:hover {
    box-shadow: 0 1px 2px 0 $header-color;
  }
  &.selected {
    box-shadow: 0 1px 2px 0 $header-color;
    .name {
      background: $header-color;
      color: white;
    }
    .info {
      background-color: $header-color;
      color: white;
    }
  }
}

.search {
  display: none;
  float: right;
  margin-right: 5px;
  #search {
    margin-bottom: 0px;
    margin-right: -27px;
  }
  .search-button {
    margin-left: 0px;
  }
}

.icon-search {
  position: relative;
  font-size: 12pt;
  margin-right: 20px;
}
