%h2 Discussion
%form.note-entry
  %textarea
  %button.comment Comment
    %i.icon-comments
.all-listings.discussion-container
  %ul.items
.actions
  %button.accept Accept
    %i.icon-thumbs-up
  %button.reject Reject
    %i.icon-thumbs-down
