%section.heading

  %i.icon-comments-alt
  %h1.title The Trading Post

  %button.signin
    %span Sign In with
    %i.icon-dropbox
    %strong Dropbox

  .user-info
    %img.avatar
    %strong.name
    %i.icon-signout.signout

/ links to all the cool stuff
%section.under-heading

  .listing-link.header-link
    %i.icon-tasks
    %span Listings

  .offers-link.header-link
    %i.icon-group
    %span Offers

/ This is where everything goes
.contain
  %span.left.expanded
    .all-listings
  %span.right
    .my-listings

%footer.foot
  %span.message Click an available listing to start making an offer.
  %button.offer-button Make Offer
    %i.icon-thumbs-up
  %span.what None selected
  %span.for None selected
