$header-color: darken(#1F4799, 10);
$header-blue: #464bf8;
$orange: #F17730;
$header-height: 50px;
$header-line-height: $header-height - 4px;
$light-border: 1px solid rgba(255,255,255, 0.3);
$dark-border: 1px solid rgba(0,0,0, 0.3);
$orange-border: 1px solid darken($orange, 20);
