!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}/

    %title The Trading Post

    %meta{content: '', name: 'description'}/
    %meta{content: 'width=device-width', name: 'viewport'}/

    %link{href: '/styles/main.css', rel: 'stylesheet'}/

    %script{src: "https://www.dropbox.com/static/api/1/dropins.js", id:"dropboxjs", data-app-key:"sif474koc5exs4m"}
    %script{data-main: '/scripts/main', src: '/components/cajon/cajon.js'}

  %body
    %header
