

%h2
  %span.who<>
  %span.view<
  %span<> s
  %span.count
  / %span.search
  /   %input#search{type: 'search', placeholder: 'Type here to search...'}
  /     %i.icon-search
  %span.cancel-add-area
    %button.cancel-button Cancel
      %i.icon-remove-sign
  %span.add-new-area
    %button.add-button Add
      %i.icon-plus-sign

  %span.add-new
    %form.add-form
      %label{for: 'name'} Name your product
      %input#name{name: 'name', type: 'text'}
      %label{for: 'select-dropbox'} What does your item look like?
      %span#select-text
      %button#select{type: 'button'}
        %i.icon-dropbox
        %span Choose Image From DropBox
      %label{for: 'specification'} Describe your item in one to three words. (eg. TV, Fruit, House)
      %input#specification{name: 'specification', type: 'text'}
      %label{for: 'details'} Provide additional details about your item.
      %textarea#details{name: 'details', type: 'text'}

      %button.add-listing
        %span.click
          %span Add listing
          %i.icon-ok-sign
        %span.loader
          #movingBallG
            .movingBallLineG
            #movingBallG_1.movingBallG

.all-listings.listing-container
  %ul.items
